@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the following CSS */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.background-gradient {
  background: linear-gradient(45deg, #ff6f61, #6a5acd, #20b2aa, #ff6347);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
  height: 100%;
  width: 100%;
}
